<footer class="bg-light">
    <div class="container py-5">
        <h2>Get The FreshCart app</h2>
        <p>We Will send you a Link, open it on your phone to download the app</p>
        <div class="youremail">
            <div class="row">
                <div class="col-md-9">
                    <input type="text" class="form-control w-100" placeholder="Email" name="" id="">
                </div>
                <div class="col-md-3 mt-md-0 mt-sm-2">
                    <button class="btn bg-main mt-md-0 mt-2">Share App Link</button>
                </div>
            </div>
        </div>
        <div class="mt-4 border-top border-bottom py-3">
           <div class="row">
            <div class="col-md-8 d-flex  align-items-center">
                <p>payment Partners</p>
                        <img src="./assets/online.ico" class="image-size ms-4" alt="">
                        <img src="./assets/Mastercard CLP.png" class="image-size" alt="">
            </div>
            <div class="col-md-4 d-flex  align-items-center">
                <p>Get Deliveries with FreshCast</p>
                <img src="./assets/app-store-badge-128x128.png" class="image-size ms-4" alt="">
                <img src="./assets/google-play-badge.png" class="image-size ms-4" alt="">
            </div>
           </div>
        </div>
    </div>
</footer>